<div id="sidebar">
  <style>
    img {
      display: block;
      margin: auto;
      border-radius: 50%;
      /* border: 6px solid #2b09095c; */
    }
    text-align:center
    </style>
  <img src="Fariha.jpg?raw=true" width="120px" alt="Fariha">
  <header>
    <!-- <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ "/" | relative_url }}">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}> -->
    <!-- <p class="lead">{{ site.description }}</p> -->
  </header>
  <br/>
  {% include sidebar-nav-links.html %}

  <!-- {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %} -->

  {% include sidebar-icon-links.html %}
  <!-- {% include copyright.html %} -->
    
<span style="text-align: center;"><a href="data/FarihaCV.pdf">CV</a></span> 
<span style="text-align: center;">fariha.t13 [at] gmail [dot] com</span> 
</div>